:root {
    --primary-colour: rgba(162, 89, 255, 1);
    --neutral-dark: rgba(18, 18, 18, 1);
    --whte: rgba(245, 247, 250, 1);
    --green: rgba(82, 211, 119, 1);
    --yellow: rgba(250, 154, 42, 1);
    --red: rgba(238, 50, 50, 1);
    --black-1: rgba(28, 29, 33, 1);
    --black-2: rgba(27, 27, 27, 1);
    --bg: rgba(245, 247, 250, 1);
    --input-field-text: rgba(119, 126, 144, 1);
    --neutralwhite: rgba(255, 255, 255, 1);
    --greytransparent: rgba(255, 255, 255, 0);
    --card-bg: rgba(27, 27, 27, 1);
    --blackblack: rgba(29, 29, 31, 1);
    --gg-font-family: "PlusJakarta Sans-Regular", Helvetica;
    --gg-font-weight: 400;
    --gg-font-size: 24px;
    --gg-letter-spacing: 0.36px;
    --gg-line-height: 145.00000476837158%;
    --gg-font-style: normal;
    --para2-semi-14px-font-family: "PlusJakarta Sans-SemiBold", Helvetica;
    --para2-semi-14px-font-weight: 600;
    --para2-semi-14px-font-size: 14px;
    --para2-semi-14px-letter-spacing: 0px;
    --para2-semi-14px-line-height: 21px;
    --para2-semi-14px-font-style: normal;
}


.app-market {
    background-color: #121212;
    display:flex;
    flex-direction: column;
}

.nice-frame{
    width:100%;
}