@page "/all_apps"

<body>
    <div class="card-info-grid">
        <div class="upper-card-info"><div class="card-text">Slicer</div></div>
        <div class="lower-card-info">
            <img class="devoloper-icon" src="img/image.png"/>
            <div class="creator">
                <div class="developer-label">Разработчик</div>
                <div class="developer-name">Петров Александр</div>
            </div>
            <div class="price">
                <div class="price-label">Цена</div>
                <div class="card-text">399.90 Руб</div>
            </div>
        </div>
    </div>

    <div class="app-market">
        <div class="div">
            <div class="overlap">
                <div class="frame">
                    <div class="text-wrapper">AppMarket</div>
                </div>
                <div class="frame-3"></div>
            </div>
            <div class="frame-4">
                <div class="text-wrapper-3">Категории</div>
                <div class="checkbox-variants-2">
                    <div class="checkbox-parent">
                        <div class="wrapper">
                            <input type="checkbox" class="checkmark" id="Audio" name="Audio" />
                        </div>
                        <label class="text-block" for="Audio">Аудио</label>
                    </div>
                </div>
            </div>
            <div class="frame-5">
                <div class="frame-6">
                    <div class="frame-7">
                        <img class="search" src="img/search.svg" />
                        <p class="p">Поиск по имени или атрибуту</p>
                    </div>
                </div>
                <div class="frame-8">
                    <div class="text-wrapper-4">Фильтр: Цена</div>
                    <img class="gridicons-dropdown" src="img/gridicons-dropdown.svg" />
                </div>
                <img class="img" src="img/frame-162867.svg" />
            </div>
        </div>
    </div>
</body>


@code {

}
