@page "/all_apps"
@using System.Text.Json
@inject HttpClient httpClient

<body>
    <div class="app-market">
        <div class="website-title">AppMarket</div>
        <img class="nice-frame" src="/AllAppsBeutyFrame.jpg" />
        <div class="apps-categories-box">
            <div class="categories-box">
                <div class="category-label">Категории</div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox-box" id="Audio" name="Audio" />
                    <label class="checkbox-text" for="Audio">Аудио</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" class="checkbox-box" id="3dModeling" name="3dModeling" />
                    <label class="checkbox-text" for="3dModeling">3D Моделирование</label>
                </div>
            </div>
            <div class="app-cards">
                <div class="app-card">
                    <img class="card-icon" src="~/favicon.png" />
                    <div class="upper-card-info"><div class="card-text">Slicer</div></div>
                    <div class="lower-card-info">
                        <img class="devoloper-icon" src="img/image.png" />
                        <div class="lower-card-item">
                            <div class="developer-label">Разработчик</div>
                            <div class="developer-name">Петров Александр</div>
                        </div>
                        <div class="lower-card-item">
                            <div class="price-label">Цена</div>
                            <div class="card-text">399.90 Руб</div>
                        </div>
                    </div>
                </div>
                <div class="app-card">
                    <img class="card-icon" src="~/favicon.png" />
                    <div class="upper-card-info"><div class="card-text">Slicer</div></div>
                    <div class="lower-card-info">
                        <img class="devoloper-icon" src="img/image.png" />
                        <div class="lower-card-item">
                            <div class="developer-label">Разработчик</div>
                            <div class="developer-name">Петров Александр</div>
                        </div>
                        <div class="lower-card-item">
                            <div class="price-label">Цена</div>
                            <div class="card-text">399.90 Руб</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


@code {
    class AppCategory
    {
        public int CategoryId { get; set; }

        public string CategoryName { get; set; } = null!;
    }

    List<AppCategory>? _appCategories;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://localhost:7247/api/AppCategories/GetAppCategories");

        HttpResponseMessage response = await httpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using Stream responseStream = await response.Content.ReadAsStreamAsync();
            List<AppCategory>? appCategories = await JsonSerializer.DeserializeAsync
                <List<AppCategory>>(responseStream);
        }
    }
}
