.login-div {
    padding:20px;
    display:flex;
    flex-direction: row;
    background: white;
}

.login-creds-box{
    display: flex;
    flex-direction: column;
}

.login-label{
    color:black;
    font-size:24px;
    font-style:normal;
    font-weight:700;
    padding: 10px 10px 10px 0px;
}

.credential-label {
    color: #313135;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 5px;
}

.login-creds-box > input {
    margin-bottom: 10px;
}
    .login-creds-box > input::placeholder {
        color: #8692A6;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

.login-button {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background: #A259FF;
    padding: 10px;
    margin-top: 10px;
    border-color: #A259FF;
}

.login-button {
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

    .login-button:hover {
        transition-duration: 0.1s;
        background-color: #b177fd;
    }

    .login-button:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 6px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px white;
    }

    .login-button:active:after {
        box-shadow: 0 0 0 0 white;
        position: absolute;
        border-radius: 6px;
        left: 0;
        top: 0;
        opacity: 1;
        transition: 0s;
    }

    .login-button:active {
        top: 1px;
    }


.failed-login-info {
    font-size: 14px;
    color: red;
    opacity: 0.8;
}